<!DOCTYPE html>
<html>
<head>

	<%- include('layouts/headerTag.ejs') %>
 	<link rel="stylesheet" type="text/css" href="/css/profile.css">
  	<style>.homes, .manuals, .logouts{ color: #fff; } .profiles{color: #D40D12;} .profiles span{margin: auto; width: 100%; border-bottom: 3px solid #D40D12;padding-bottom: 15px;}</style>
  	
</head>
<body>
 	<header>
 		<%- include('layouts/header.ejs') %>
 	</header>
	 <main>
	 	<div class="content">
		 	<div class="contenedor hidden">
		 		<h1>MODIFICAR PERFIL</h1><br>
		 		<a href="/profile/<%= user.username %>/edit/edit-name"><div id="redirigir">Cambiar nombre de usuario</div></a>
		 		<a href="/profile/<%= user.username %>/edit/edit-email"><div id="redirigir">Cambiar email</div></a>
		 		<a href="/profile/<%= user.username %>/edit/edit-password"><div id="redirigir">Cambiar contraseña</div></a>
			</div>
		</div>
	</main>

 	<footer>
 		<%- include('layouts/footer.ejs') %>
 	</footer>

 	<script type="text/javascript">
 		
		$(document).ready(function() {
			$('.hidden').fadeIn('slow');

		});
 	</script>
</body>
</html>